
.box{
    grid-row: 2/3;
    grid-column: 2/3;
    
    overflow: hidden;

    background: #00416A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #E4E5E6, #00416A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #E4E5E6, #00416A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    box-shadow: 10px 5px 5px rgb(90, 124, 145) ;
}
#search_name,#search_barcode{
    color: #00416A;
}